<!DOCTYPE html>
<html>
<head>
  <title>Appdeterminer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://rawgit.com/motdotla/historysniff/master/build/historysniff.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
